DerivedData
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
.idea/

Pods/
Podfile.lock
Blockchain/APIDefines.h
Artwork/node_modules
External/*

Images.xcassets/blockchain_logo.imageset/*.png
Images.xcassets/map.imageset/*.png
Images.xcassets/qrscanner.imageset/*.png
Images.xcassets/blockchain_logo.imageset/*.png
Images.xcassets/sidebar.imageset/*.png
Images.xcassets/transaction_pending.imageset/*.png
Images.xcassets/backup_blue_circle.imageset/*.png
Images.xcassets/backup_exclamation_mark.imageset/*.png
Images.xcassets/backup_green_circle.imageset/*.png
Images.xcassets/icon_backup_complete.imageset/*.png
Images.xcassets/icon_backup_incomplete.imageset/*.png
Images.xcassets/icon_merchant.imageset/*.png
Images.xcassets/icon_support.imageset/*.png
Images.xcassets/icon_upgrade.imageset/*.png
