DerivedData
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
.idea/

Pods/
Podfile.lock
Blockchain/APIDefines.h
Artwork/node_modules
External/*

Images.xcassets/arrow_downward.imageset/*.png
Images.xcassets/blockchain_b.imageset/*.png
Images.xcassets/blockchain_b_large.imageset/*.png
Images.xcassets/welcome_logo.imageset/*.png
Images.xcassets/blockchain_logo.imageset/*.png
Images.xcassets/blockchain_logo_small.imageset/*.png
Images.xcassets/map.imageset/*.png
Images.xcassets/qrscanner.imageset/*.png
Images.xcassets/blockchain_logo.imageset/*.png
Images.xcassets/menu.imageset/*.png
Images.xcassets/transaction_pending.imageset/*.png
Images.xcassets/backup_blue_circle.imageset/*.png
Images.xcassets/backup_exclamation_mark.imageset/*.png
Images.xcassets/backup_green_circle.imageset/*.png
Images.xcassets/icon_backup_complete.imageset/*.png
Images.xcassets/icon_backup_incomplete.imageset/*.png
Images.xcassets/icon_merchant.imageset/*.png
Images.xcassets/icon_support.imageset/*.png
Images.xcassets/icon_upgrade.imageset/*.png
Images.xcassets/close.imageset/*.png
Images.xcassets/icon_share.imageset/*.png
Images.xcassets/thumbs.imageset/*.png
Images.xcassets/upgrade1.imageset/*.png
Images.xcassets/upgrade2.imageset/*.png
Images.xcassets/upgrade3.imageset/*.png
Images.xcassets/2fa.imageset/*.png
Images.xcassets/2fab.imageset/*.png
Images.xcassets/email.imageset/*.png
Images.xcassets/emailb.imageset/*.png
Images.xcassets/key.imageset/*.png
Images.xcassets/keyb.imageset/*.png
Images.xcassets/level2icons-security.imageset/*.png
Images.xcassets/phone.imageset/*.png
Images.xcassets/phoneb.imageset/*.png
Images.xcassets/phrase.imageset/*.png
Images.xcassets/phraseb.imageset/*.png
Images.xcassets/tor.imageset/*.png
Images.xcassets/torb.imageset/*.png
Images.xcassets/security1.imageset/*.png
Images.xcassets/security2.imageset/*.png
Images.xcassets/security3.imageset/*.png
Images.xcassets/check.imageset/*.png
Images.xcassets/icon_wallet.imageset/*.png
Images.xcassets/security.imageset/*.png
Images.xcassets/warning.imageset/*.png
Images.xcassets/pencil.imageset/*.png
Images.xcassets/alert.imageset/*.png
Images.xcassets/cancel_template.imageset/*.png
Images.xcassets/email_square.imageset/*.png
Images.xcassets/close_large.imageset/*.png
Images.xcassets/lock_large.imageset/*.png
Images.xcassets/mobile_large.imageset/*.png
Images.xcassets/icon_buy.imageset/*.png
Images.xcassets/help.imageset/*.png
Images.xcassets/wallet.imageset/*.png
Images.xcassets/tx.imageset/*.png
Images.xcassets/settings.imageset/*.png
Images.xcassets/send.imageset/*.png
Images.xcassets/receive.imageset/*.png
Images.xcassets/merchant.imageset/*.png
Images.xcassets/logout.imageset/*.png
Images.xcassets/lock.imageset/*.png
Images.xcassets/logo.imageset/*.png
Images.xcassets/logo_both.imageset/*.png
Images.xcassets/text.imageset/*.png
Images.xcassets/send.imageset/*.png
Images.xcassets/receive.imageset/*.png
Images.xcassets/tx.imageset/*.png
Images.xcassets/send_blue.imageset/*.png
Images.xcassets/receive_blue.imageset/*.png
Images.xcassets/tx_blue.imageset/*.png
Images.xcassets/keypad.imageset/*.png
Images.xcassets/success.imageset/*.png
Images.xcassets/logo_large.imageset/*.png
Images.xcassets/bitcoin.imageset/*.png
Images.xcassets/blockchain_wallet_logo.imageset/*.png
